<ion-header>
    <ion-toolbar>
        <ion-title>main-admin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-title>
            Conectados
        </ion-card-title>
        <ion-card-content>
            <ion-item>
                <ion-label>Code:</ion-label>
                <ion-input [(ngModel)]="codigo" type="text"></ion-input>
            </ion-item>
            <ion-button>
                conectar
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>